# Task12 : Go through the below in-built functions with 2 examples each.
- reduce()
- zip()
- enumerate()

# reduce()

In [1]:
#to use reduce we have to import it from functools library 
#Example 1 find the sum of all doubles of even numbers in the given list

In [1]:
from functools import reduce

In [2]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13]

evens = list(filter(lambda n : n%2==0 ,num))

print(evens)

[2, 4, 6, 8, 10, 12]

In [3]:
doubles_of_evens = list(map(lambda n : n*2 , evens)) 

print(doubles_of_evens)

[4, 8, 12, 16, 20, 24]

In [7]:
sum_of_all_doubles = reduce(lambda a,b :a+b ,doubles_of_evens)
print(sum_of_all_doubles)

84

In [8]:
#Example 2 collect prime numbers in a list from 1 - 20 then multiply all of them together with reduce function

In [27]:
x = range(1,21)
x = list(x)
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [35]:
def is_prime(a):
    if a<=1 :
        return False 
    for d in range(2,a):
        if a%d==0:
            return False
        return True

In [40]:
prime = list(filter(is_prime,x))
print(prime)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [38]:
multiplication = reduce(lambda a,b : a*b ,prime)
print(multiplication)

654729075

# ZIP

In [41]:
#zip can be used to join data types like a list with a list or a tuple with a tuple

In [43]:
#example 1  join list and print them 
names = ['Gaby','Shivam','Eddy']
work =['Music','Driver','Gamer']
zipped = list(zip(names,work))
print(zipped)

[('Gaby', 'Music'), ('Shivam', 'Driver'), ('Eddy', 'Gamer')]

In [44]:
#example 2  join tuples and print them 
numbers = (1,2,3)
dicsription = ("Nither even nor odd","even","odd")
zipped = list(zip(numbers,dicsription))
print(zipped)

[(1, 'Nither even nor odd'), (2, 'even'), (3, 'odd')]

# enumerate()

In [45]:
#used for tracking the positions or Iterable: any object that supports iteration

In [48]:
#example 1 
l1 = ["eat","sleep","code","repeat"] 
obj1 = list(enumerate(l1))
print(obj1)

[(0, 'eat'), (1, 'sleep'), (2, 'code'), (3, 'repeat')]

In [49]:
x = ('apple', 'banana', 'cherry')
y = tuple(enumerate(x))
print(y)

((0, 'apple'), (1, 'banana'), (2, 'cherry'))